<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sales system</title>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

          <a class="nav-link" href="/dashboard">Dashboard</a>
          <a class="nav-link" href="/products">Products</a>
          <a class="nav-link" href="/sales">Sales</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <table id="myTable" class="table">
      <thead>
        <tr>
          <th scope="col">Profit</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        {%for p1 in myprof %}
        <tr>
          <th>{{ p1[0]}}</th>
          <td>{{ p1[1] }}</td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <br>
    <br>
    <br>

    <div class="row">
      <div class="col-8">
        <canvas id="line-chart" width="9000" height="7750"></canvas>
      </div>
      <div class="col-8">
      

    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
  </script>
  <script>
    let table = new DataTable('#myTable');
    new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: ["2023-03-01 21:13:35",
"2022-12-03 13:09:54",
"2023-08-12 17:27:30",
"2022-11-02 13:37:31",
"2023-10-05 09:29:17",
"2023-08-21 18:09:11",
"2023-07-08 06:23:08",
"2023-07-03 19:15:02",
"2022-11-01 11:25:20",
"2023-03-04 20:52:15",
"2023-02-23 06:27:03",
"2023-09-02 05:32:08",
"2023-04-13 13:29:34",
"2022-10-18 09:34:04",
"2023-10-05 09:29:27",
"2023-07-03 22:49:02",
"2023-09-10 18:43:41",
"2023-01-06 15:17:11",
"2023-04-10 10:41:48",
"2023-10-05 09:29:09",
"2022-11-28 00:06:26",
"2023-09-04 17:49:26",
"2023-04-01 12:25:08",
"2023-08-15 02:31:35",
"2023-08-04 16:03:37",
"2023-09-20 00:45:47",
"2022-10-13 05:00:48",
"2022-12-02 11:41:34",
"2023-01-30 03:10:42",
"2023-08-07 11:33:08",
"2023-07-19 05:25:17",
"2023-05-21 11:00:17",
"2023-07-24 14:06:01"],
    datasets: [{ 
        data: [599.40,
541.80,
252.00,
931.20,
200.00,
268.80,
1544.40,
105.30,
58.80,
486.00,
182.70,
277.20,
661.20,
1728.00,
60.00,
192.00,
44.10,
828.00,
495.60,
100.00,
1083.60,
326.40,
1576.20,
606.00,
92.40,
864.00,
1860.00,
735.30,
96.90,
241.20,
789.60,
183.60,
589.50],
        label: "Sales per day",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'World population per region (in millions)'
    }
  }
});
  </script>
</body>

</html>